.Transhis{
    font-size: 25px;
    font-weight: lighter;
    color: rgb(44, 7, 104);
}
.subFeild{
    display: flex;
    justify-content: space-between;
}
/* .decs{
    padding-left: 10px;
} */

.PFeild{
       padding-left: 5px;
    padding-right: 5px;
background-color: rgb(204, 197, 197);
margin-bottom : 5px;
height: 30px;
padding-top: 8px;
border-right:4px solid rgb(11, 151, 11);
}

.NFeild{
    padding-left: 5px;
 padding-right: 5px;
background-color: rgb(204, 197, 197);
margin-bottom : 5px;
height: 30px;
padding-top: 8px;
border-right:4px solid rgb(218, 46, 33);
}

.PFeild:hover {
    background-color: rgb(198, 166, 224);
}
.PFeild:hover .CrossB{
    /* width: 20px; */
background-color: rgba(90, 30, 187, 0.459); 
/* border-radius: 5px;    */
opacity: 1;
color: black;
}

.NFeild:hover {
    background-color: rgb(198, 166, 224);
}
.NFeild:hover .CrossB{
    /* width: 20px; */
background-color: rgba(90, 30, 187, 0.459); 
/* border-radius: 5px;    */
opacity: 1;
color: black;
}
