.App {
  text-align: center;
  display: flex;
  justify-content: center;
  color: "red";
}

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@media only screen and (min-width: 500px) {
.Container{
  width: 450px;
  font-family: 'Acme', sans-serif;
  /* border: 1px solid black; */
  box-shadow: 3px 7px 10px #b3acac;
margin-top: 20px;
margin-bottom: 20px;
background-color: rgb(250, 244, 233);
}}

@media only screen and (max-width: 500px) {
  .Container{
    width: 350px;
    font-family: 'Acme', sans-serif;
    /* border: 1px solid black; */
    box-shadow: 3px 7px 10px #b3acac;
margin-bottom: 20px;
margin-top: 20px;
  background-color: rgb(250, 244, 233);
  }}

  @media only screen and (max-width: 350px) { .Container{
    width: 250px;
    font-family: 'Acme', sans-serif;
    /* border: 1px solid black; */
    box-shadow: 3px 7px 10px #b3acac;
margin-bottom: 20px;
margin-top: 20px;
  background-color: rgb(250, 244, 233);
  }}